* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  min-height: 425px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.start-btn {
  margin-bottom: 3rem;
  padding: 1rem;
  appearance: none;
  border-radius: 1rem;
  border: none;
  background-color: #f97316;
  box-shadow: 1px 1px gray;
}

.start-btn:active {
  box-shadow: none;
  background-color: #9a3412;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  background-color: black;
}

.gridSquare {
  background-color: white;
  text-align: center;
  padding: 35%;
  font-size: 2rem;
}
