* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  background-color: black;
}

.gridSquare {
  background-color: white;
  text-align: center;
  padding: 35%;
  font-size: 2rem;
}
